---
import { getCollection } from 'astro:content';
// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from '../layouts/BaseLayout.astro';


// Component Imports
import CallToAction from '../components/CallToAction.astro';
import Grid from '../components/Grid.astro';
import Hero from '../components/Hero.astro';
import Icon from '../components/Icon.astro';
import Pill from '../components/Pill.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';

// Page section components
import ContactCTA from '../components/ContactCTA.astro';
import Skills from '../components/Skills.astro';

// Content Fetching: List four most recent projects projects
const projects = (await getCollection('projects'))
	.sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
	.slice(0, 4);



// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<script is:inline src="/pace.min.js"></script>
<link href="/minimal.css" rel="stylesheet" type="text/css" />

<script>
import Typed from 'typed.js';
import LocomotiveScroll from 'locomotive-scroll';

const scroll = new LocomotiveScroll({
    el: document.querySelector('[data-scroll-container]'),
    smooth: true,
	repeat: true
});

const typed = new Typed('#element', {
  strings: ['<strong> Developer<strong>', '<strong> Researcher<strong>', 'n<strong> Academic<strong>', '<strong> Software Engineer<strong>'],
  typeSpeed: 150,
  backSpeed: 100,
  loop: true,
  showCursor: false,
  smartBackspace: true,
});


// Get all elements with the "fade-in" class


</script>

<!--write new project files
 in md-->
<BaseLayout>
	<div class="bg-animation">
		<div id="stars"></div>
		<div id="stars2"></div>
		<div id="stars3"></div>
		<div id="stars4"></div>
	</div>
	<div data-scroll-container>
	<div class="stack gap-20 lg:gap-48">
		<div class="wrapper stack gap-8 lg:gap-20">
			<header class="hero">
				<Hero
					title=""
					tagline=""
					align="start"
				>
				<h1 style="font-size: 5rem;">Absozero</h1>
				<sub style="font-size: 0.8rem;"><span class="flashing" style="font-size: 1.45rem;">🥶</span></sub>
				<p id="element" style="font-size: 4rem;"></p>
				<noscript> Developer, Researcher, and Academic</noscript>
				
				</Hero>
				</header>
				
				<header class="hero">
					<div class="roles" data-scroll data-scroll-direction="horizontal" data-scroll-speed="0.2">
						<div class="bounce" id="pill1">
							<a href="https://github.com/absozero">
							<Pill><Icon icon="code" size="1.33em" /> Developer</Pill>
						</a>
						</div>
						<div class="bounce" id="pill2">
						<a href="https://github.com/absozero/awesome-devtools">
							<Pill>🧪 Researcher</Pill>
						</a>
					</div>
					<div class="bounce" id="pill3">
					<a href="https://github.com/absozero/awesome-devtools#learning-resources" id="pill3">
						<Pill><Icon icon="pencil-line" size="1.33em" /> Academic</Pill>
					</a>
				</div>
					</div>
			</header>

			<div class="fadein" data-scroll data-scroll-class="fadein--visible" data-scroll-direction="horizontal" data-scroll-speed="8">
				<Skills />
			</div>

		</div>

		<section class="section with-background bg-variant" data-scroll data-scroll-speed="0.01">
			<header class="section-header stack gap-2 lg:gap-1">
				<h3 data-scroll data-scroll-direction="vertical" data-scroll-speed="0.8">But who am I?</h3>
				<p>
					My pseudoname on the internet is <strong>Absozero</strong>. I am a front-end <u>developer</u>, and I <span style="color:cadetblue">enjoy creating software</span> that
					people can use and like and is functional. I have worked with many technologies, my favorites are <span style="color:blueviolet">Docker, Linux, and Typescript</span>.
					I think that development and computer science is a key to future development and can aid in many parallel areas of study. I firmly believe
					that everyone has a <span style="color:darkolivegreen">talent in them</span> that can be harnessed if given the oppurtunity. 
					I enjoy talking to people about <span style="color:cadetblue">software and development</span>,
					shoot me an email to <a href="mailto:azermazer165@gmail.com" style="color:deeppink">get in contact</a>!
				</p>
				<p>If you want to learn more, check out the <a href="/about">about</a> page</p>
			</header>

		</section>
		<div data-scroll data-scroll-direction="horizontal" data-scroll-speed="9" style="align-items: center; text-align: center; font-size: xx-large;">
			🥶	
		</div>

		<main class="wrapper stack gap-20 lg:gap-48">
			<section class="section with-background with-cta">
				<header class="section-header stack gap-2 lg:gap-4">
					<h3>My Projects</h3>
					<p>Here are some of my projects so far.</p>
				</header>

				<div class="gallery">
					<Grid variant="offset">
						{
							projects.map((project) => (
								<li data-scroll data-scroll-direction="horizontal" data-scroll-speed="9">
									<PortfolioPreview project={project} />
								</li>
							))
						}
					</Grid>
				</div>

				<div class="cta fadein" data-scroll data-scroll-class="fadein--visible" data-scroll-direction="vertical" data-scroll-speed="1.7">
					<CallToAction href="/projects/">
						View All
						<Icon icon="arrow-right" size="1.2em" />
					</CallToAction>
				</div>
			</section>
			<section class="section with-background bg-variant">
				<header class="section-header stack gap-2 lg:gap-4">
					<h3 data-scroll data-scroll-direction="vertical" data-scroll-speed="0.8">Mentions</h3>
					<p>
						I would like to point out some of the resources that I refer to the most.
					</p>
				</header>
				

				<div class="gallery" data-scroll data-scroll-direction="horizontal" data-scroll-speed="8">
					<div class="fadein" data-scroll data-scroll-class="fadein--visible">
					<Grid variant="small">
						{
							['Github', 'Hacker News', 'Awesome-lists', 'MIT OCW'].map((brand) => (
								<li class="mention-card">
									<p>{brand}</p>
								</li>
							))
						}
					</Grid>
					</div>
				</div>
			</section>



			<section class="section with-background bg-variant" data-scroll data-scroll-speed="0.01">
				<header class="section-header stack gap-2 lg:gap-4">
					<h3 data-scroll data-scroll-direction="vertical" data-scroll-speed="0.8">About this site</h3>
					<p>
						This is a portfolio, a landing page for Absozero, and is a place where information about me is stored
						and can be seen. It has been revamped recently, from forking another well-built portfolio to using the
						Astro framework.
					</p>
				</header>

			</section>
		</main>
	</div>
	<ContactCTA />
</div>
</BaseLayout>

<style>
	.hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}

	.fade-in {
		opacity: 0;
		transition: opacity 0.5s ease-in-out;
	}

	.fade-in.appear {
		opacity: 1;
	}

	.flashing {
	animation: blink 1s infinite;
	}

	@keyframes blink {
	50% {
		opacity: 0;
	}
	}

	.fadein {
		opacity: 0;
		transition: opacity 2.5s;
	}

	.fadein--visible {
		opacity: 1;
	}
	.bounce {
		animation: bounce 3s infinite;
	}

	
	
	#element {
		min-height: 1.4em;
	}

	#element::before {
		content: "I am a";
	}


	#pill1 {
	animation-delay: 0s;
	}

	#pill2 {
	animation-delay: 0.3s;
	}

	#pill3 {
	animation-delay: 0.6s;
	}

	@keyframes bounce {
	0%, 100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-10px);
	}
	}

	.roles {
		display: none;
	}

	a {
		text-decoration: none;
	}

	.hero img {
		aspect-ratio: 5 / 4;
		object-fit: cover;
		object-position: top;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	@media (min-width: 50em) {
		.hero {
			display: grid;
			grid-template-columns: 6fr 4fr;
			padding-inline: 2.5rem;
			gap: 3.75rem;
		}

		.roles {
			margin-top: 0.5rem;
			display: flex;
			gap: 0.5rem;
		}

		.hero img {
			aspect-ratio: 3 / 4;
			border-radius: 4.5rem;
			object-fit: cover;
		}
	}

	/* ====================================================== */

	.section {
		display: grid;
		gap: 2rem;
	}


	.with-background {
		position: relative;
	}

	.with-background::before {
		--hero-bg: var(--bg-image-subtle-2);

		content: '';
		position: absolute;
		pointer-events: none;
		left: 50%;
		width: 100vw;
		aspect-ratio: calc(2.25 / var(--bg-scale));
		top: 0;
		transform: translateY(-75%) translateX(-50%);
		background: none;
		background-blend-mode: overlay, normal, normal, normal;
		mix-blend-mode: var(--bg-blend-mode);
		z-index: -1;
	}

	.with-background.bg-variant::before {
		--hero-bg: var(--bg-image-subtle-1);
	}

	.section-header {
		justify-self: center;
		text-align: center;
		max-width: 50ch;
		font-size: var(--text-md);
		color: var(--gray-300);
	}

	.section-header h3 {
		font-size: var(--text-2xl);
	}

	@media (min-width: 50em) {
		.section {
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas: 'header header header header' 'gallery gallery gallery gallery';
			gap: 5rem;
		}

		.section.with-cta {
			grid-template-areas: 'header header header cta' 'gallery gallery gallery gallery';
		}

		.section-header {
			grid-area: header;
			font-size: var(--text-lg);
		}

		.section-header h3 {
			font-size: var(--text-4xl);
		}

		.with-cta .section-header {
			justify-self: flex-start;
			text-align: left;
		}

		.gallery {
			grid-area: gallery;
		}

		.cta {
			grid-area: cta;
		}
	}

	/* ====================================================== */

	.mention-card {
		display: flex;
		height: 7rem;
		justify-content: center;
		align-items: center;
		text-align: center;
		border: 1px solid var(--gray-800);
		border-radius: 1.5rem;
		color: var(--gray-300);
		background: var(--gradient-subtle);
		box-shadow: var(--shadow-sm);
	}

	@media (min-width: 50em) {
		.mention-card {
			border-radius: 1.5rem;
			height: 9.5rem;
		}
	}
</style>