---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';
import Footer from '../components/Footer.astro';

import "@fontsource/poppins"

const projects = (await getCollection('projects')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<script is:inline src="/pace.min.js"></script>
<link href="/flash.css" rel="stylesheet" type="text/css" />

<script>
	import Typed from 'typed.js';
	import LocomotiveScroll from 'locomotive-scroll';

	const scroll = new LocomotiveScroll({
		el: document.querySelector('[data-scroll-container]'),
		smooth: true
	});
	
	const typed = new Typed('#element', {
	  strings: ['These are my projects so far:'],
	  typeSpeed: 150,
	  backSpeed: 100,
	  showCursor: false,
	});
	
</script>


<BaseLayout
	title="My projects | Absozero"
	description="Learn about Absozero's most recent projects"
>
<div class="bg-animation">
	<div id="stars"></div>
	<div id="stars2"></div>
	<div id="stars3"></div>
	<div id="stars4"></div>
</div>
	<div class="stack gap-20" data-scroll-container>
		<main class="wrapper stack gap-8">
			<Hero
				title=""
				tagline=""
				align="start"
			/>
			<h1 style="font-size: 4rem; font-family: 'Mona Sans', sans-serif; min-height: max-content;">My Projects</h1>
			<p id="element" style="font-family: 'Poppins', sans-serif; font-weight: 600;"></p>
			<Grid variant="offset">
				{
					projects.map((project) => (
						<li>
							<PortfolioPreview project={project} />
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
		<Footer />
	</div>
</BaseLayout>

<style>
	#element {
		min-height: 1.4em;
		font-size: x-large;
	}
</style>
