---
import Icon from './Icon.astro';
import "@fontsource/material-icons-rounded";
import "@fontsource/space-grotesk"
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<span class="material-icons-rounded" style="font-size: 40px; color: var(--accent-regular);">data_object</span>
		<h2>Full Stack</h2>
		<p>I work in multiple, unique areas of tech, as is visible in my <a href="/about">about page</a>. I enjoy programming, no matter the environment targeted.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<span class="material-icons-rounded" style="font-size: 40px; color: var(--accent-regular);">find_in_page</span>
		<h2>Researcher</h2>
		<p>I involve myself in multiple areas of research to grow my knowledge and expertise. I actively pursue new areas of technology.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<span class="material-icons-rounded" style="font-size: 40px; color: var(--accent-regular);">menu_book</span>
		<h2>Academic</h2>
		<p>I am actively pursuing and educating myself on new topics and areas of interest that can become major in the future.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
		font-family: 'Space Grotesk', sans-serif;
		font-weight: 500;
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
			font-family: 'Mona Sans', sans-serif;
		}
	}
</style>
